<section class="loading_[[ cards.loading ]] started_[[ cards.started ]]">

  <div class="control start">
    <button id="start" ng-click="cards.start()">Start</button>
  </div>

  <div class="cards unanswered">
    <flash-card
       ng-repeat="card in cards.remaining"
       name="card.name"
			 form="card.form"
       info="card"
       translate-z="card.id"
       length="cards.remaining.length"
       class-name="card">
    </flash-card>

    <flash-card
      info="cards.current"
      name=""
      form="cards.current.form"
      length="1"
      translate-z="30"
      class-name="card question">
    </flash-card>


    <!--card-current info="cards.current"></card-current-->
  </div>

  <div class="control choices">
    <card-choices 
       ng-repeat="choice in cards.availableChoices"
       on-select="cards.select( id )"
       info="cards.chars[ [[ choice ]] ]">

    </card-choices>
  </div>

  <div class="control answer">
    <!-- ng-if doesn't work -->
    <button id="answer" ng-click="cards.answer(cards.selected)">
      Submit
    </button>
  </div>

</section>
