<section class="loading [[ cards.loading ]]">
	<h2>Card Game</h2>
		<p>Loading: [[ cards.loading ]]</p>

		<!--
		list: 
		<card-list></card-list>
		-->

		<p>Selected: [[ cards.selected ]]</p>

		<p>
		Question: <br />
		<card-current info="cards.current"></card-current>
		</p>

		<fieldset>
			<legend>choo choo choose me: </legend>

			<card-choices 
						ng-repeat="choice in cards.availableChoices"
						ng-click="cards.select( [[ choice ]] )"
						info="cards.chars[ [[choice]] ]"></card-choices>

			<button id="answer" ng-click="cards.answer()">
				Submit &#13;
			</button>
		</fieldset>

</section>
