@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

/*@btn-font-weight: 300;*/
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font: 1em/1.15em normal @font-family-sans-serif;
}

body {
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	height: auto;
	background: #222;
}

header {
	text-align: center;
	display: flex;
}
section {
	margin: 60px auto;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	display: flex;
	position: relative;
	perspective: 300px;
}
footer {
	text-align: left;
	display: flex;
}

.cards.unanswered {
	perspective: 9000px;
	min-width: 640px;
	min-height: 480px;
}
.started_true .cards.unanswered {
	perspective: 300px;
	/*perspective-origin: 92% 78%;*/
}


.card {
	position: relative;
	font-family: "Droid Arabic Naskh", serif;
	font-weight: 100;
	display: inline-block;
	margin: 2px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #336;
	background: #d7d7d7;
	vertical-align: middle;
	font-weight: 100;
	width: 161px;
	height: 260px;
	text-shadow: 	1px -1px rgba(255, 255, 255, 0.9),
								2px -2px rgba(255, 255, 255, 0.9),
								3px -3px rgba(255, 255, 255, 0.9),
								4px -4px rgba(255, 255, 255, 0.9),
								5px -5px rgba(255, 255, 255, 0.9),
								1px 1px rgba(255, 255, 255, 0.9),
								0px 0px rgba(255, 255, 255, 0.9);

	/* change to border image */
	border-width: 20px;
	border-image: url("/images/border-geometric.png") 50 50 50 50 round round;
	outline: double 4px #d7d7d7;
	outline-offset: -12px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: transform margin-right 0.3s;

}
.started_true .card {
	position: absolute;
	margin: 0;
}

.card .form,
.card .name {
	text-align: center;
	text-indent: 0;
	padding: 0 auto;
	margin: 0;
	display: inline-block;
	width: 100%;

	transform: translateZ(1px);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	
}
.form {
	font-size: 7em;
	line-height: 1.55em;
}
.name {
	font-size: 1.64em;
	line-height: 1em;
}
.card .form:after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 110%;
	position: absolute;
	top: 0;
	left: 0;
	
}

.card.question {
	background: #fff;
	transform: translateZ(40px);
}
.question .form {
	font-size: 10em;
}

.availableChoices {
	min-width: 100px;
	font-size: 2em;
	line-height: 1.25em;
	background: #eee;
	display: inline-block;
	border: 1px solid #fff;
}

.loading_true {
	/**/
}
.started_true .card + .card {
	/*margin: 0 0 0 -154px;*/
}
.started_true .card.question {
	/*margin-left: -149px;*/
}
.started_false .card {
	transform: none !important;
}
.started_false .card.question {
	display: none;
}

.selected {
	background: rgba(128, 255, 160, 1);
}
